<div id="divFilipinoSpecial" class="col-xs-12 slideanim">
  <div class="row">
      <h1>VEGETABLES</h1>
      <nav id="mainNavbar" class="navbar">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                  <li> <button class="btn btn-primary btn-block" (click)="foodCheck('chopseuy')"> Chop Suey </button></li>
                  <li> <button class="btn btn-primary btn-block" (click)="foodCheck('pakbet')"> Pakbet Tagalog </button> </li>
                  <li> <button class="btn btn-primary btn-block" (click)="foodCheck('laing')"> Laing na Gabi </button> </li>
                  <li> <button class="btn btn-primary btn-block" (click)="foodCheck('ampalaya')"> Ampalaya con Carne </button> </li>
              </ul>
          </div>
      </nav>
  </div>







  <div class="row" *ngIf="foodTitle != '' && foodResult != '' && foodResultDefinition !=''">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{foodTitle}}
            </div>
            <div class="panel-body">
                    <div class="thumbnail">
                            <img [src]="foodResult" class="img-responsive img-thumbnail img-fluid">
                        <div class="caption">
                            <p>{{foodResultDefinition}}</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>