<div class="row">
    <div class="container-fluid text-center">
        <img id="pageHeader" src="assets/images/mainPicture.png" class="img-responsive img-fluid" style="width: 100%" />
    </div>
</div>

<div class="container">
    <div class="row">
        Check our full Recipes <a routerLink="/recipes/recipeMustTry">here</a>
        <div class="container-fluid text-center">
            <a routerLink="/recipes/recipeMustTry"> <img id="pageHeader"
                    src="assets/images/itsMoreFunInThePhilippines2.png" class="img-responsive img-fluid"
                    style="width: 100%" /></a>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        Want to know something about <a routerLink="/about">Filipino Cuisine</a>?
        <div class="container-fluid text-center">
            <a routerLink="/about"> <img id="pageHeader" src="assets/images/about banner.jpg"
                    class="img-responsive img-fluid" style="width: 100%" /></a>
        </div>


    </div>
</div>

<div class="container">
    <div class="row">
        Do you live in Moreno Valley, CA and want to try some Filipino Foods?<a routerLink="/contact">Contact Us!</a>
        <div class="container-fluid text-center">
            <a routerLink="/contact"> <img id="pageHeader" src="assets/images/contact banner.jpg"
                    class="img-responsive img-fluid" style="width: 100%" /></a>

        </div>

    </div>
</div>