<div class="row">
  <div class="container-fluid text-center">
      <img id="pageHeader" src="assets/images/contact banner.jpg" class="img-responsive img-fluid"
          style="width: 100%" />
  </div>
</div>
<br/>
<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        MORENO VALLEY, CA
      </div>
      <div class="panel-body">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="panel-footer">
        Emm's Kitchen offer Catering around Moreno Valley, CA. Call us at 123-123-123
      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Catering/Delivery Details</h2>
          </div>
          <div class="panel-body">
              Catering/Delivery Details...
          </div>
        </div>
      </div>
</div>

<div class="container">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
      </div>
      <div class="panel-body">

        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question1">
                <h2>Question number 1</h2>
            </div>
            <div class="panel-body collapse" id="question1">
              Answer number 1
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel panel-info myDiv">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question2">
              <h2>Question number 2</h2>
            </div>
            <div class="panel-body collapse" id="question2">
              Answer number 2
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question3">
              <h2>Question number 3</h2>
            </div>
            <div class="panel-body collapse" id="question3">
              Answer number 3
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question4">
              <h2>Question number 4</h2>
            </div>
            <div class="panel-body collapse" id="question4">
              Question number 4
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question5">
              <h2>Question number 5</h2>
            </div>
            <div class="panel-body collapse" id="question5">
              Question number 5
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question6">
              <h2>Question number 6</h2>
            </div>
            <div class="panel-body collapse" id="question6">
              Answer number 6
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question7">
              <h2>Question number 7</h2>
            </div>
            <div class="panel-body collapse" id="question7">

              Answer number 7
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question8">
              <h2>Question number 8</h2>
            </div>
            <div class="panel-body collapse" id="question8">
              Answer number 8
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question9">
              <h2>Question number 9</h2>
            </div>
            <div class="panel-body collapse" id="question9">
              Answer number 9
            </div>
          </div>
        </div>




        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question10">
              <h2>Question number 10</h2>
            </div>
            <div class="panel-body collapse" id="question10">
              Answer number 10
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading myDiv" data-toggle="collapse" data-target="#question11">
              <h2>Question number 11</h2>
            </div>
            <div class="panel-body collapse" id="question11">
              Answer number 11
            </div>
          </div>
        </div>





      </div>
      <div class="panel-footer">
        If you have any question just call us at 123-123-123
      </div>
    </div>
  </div>
</div>



