<div class="row">
    <div class="container-fluid text-center">
        <img id="pageHeader" src="assets/images/about banner.jpg" class="img-responsive img-fluid"
            style="width: 100%" />
    </div>
</div>

<div class="container">
    <div class="row">
        <h1><b>Want to know something about Filipino Cuisine?</b></h1>
    </div>
    <br />
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-right img-responsive" src="assets/images/cuisine1.jpg" style="width: 540px;" />
                <div class="content-heading"></div>

                <p>Filipino cuisine (Filipino: Lutuing Pilipino/Pagkaing Pilipino) is composed of the cuisines of more
                    than a hundred distinct ethno-linguistic groups found throughout the Philippine archipelago.
                    However, a majority of mainstream Filipino dishes that compose Filipino cuisine are from the
                    cuisines of the Ilocano, Pangasinan, Kapampangan, Tagalog, Bicolano, Visayan (Cebuano, Hiligaynon
                    and Waray), Chavacano and Maranao ethno-linguistic groups. The style of food making and the food
                    associated with it have evolved over many centuries from their Austronesian origins (shared with
                    Malaysian and Indonesian cuisines) to a mixed cuisine of Indian, Chinese, Spanish and American
                    influences, in line with the major waves of influence that had enriched the cultures of the
                    archipelago, as well as others adapted to indigenous ingredients and the local palate</p>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="span4">
                <img class="img-left img-responsive" src="assets/images/rice.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>It’s never a meal without rice</b></h2>
                </div>
                <p>Rice (particularly white rice), is considered the ultimate staple in Filipino food. It is present in
                    every household and is more than likely part of every Filipino’s meal – breakfast, lunch and dinner.
                    Because of its plain, starchy flavor, it pairs well with a lot of salty and sour local dishes.
                    Filipinos love rice so much that they would consume it whether it’s traditionally cooked white rice
                    (kanin), burnt rice (tutong), left-over rice (bahaw) or fried rice (sinangag). Restaurants and fast
                    food chains catering to Filipinos based out of the country make sure that rice is always part of
                    their menu. Sarap.</p>

            </div>
        </div>
    </div>

    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-right img-responsive" src="assets/images/dipping.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>Dipping sauces are part and parcel of Filipino cuisine</b></h2>
                </div>
                <p>Although rice complements any Filipino dish, dipping sauces (served on the side) make your munch
                    extra flavorful. The most common dipping sauces are soy sauce and calamansi (mixed together), fish
                    sauce (patis), and spiced vinegar. Fried fish is especially more satisfying with one of these on the
                    side. Sometimes, it’s the sauce that completes the dish: For instance, Kare-kare (peanut-based beef
                    stew) is always paired with bagoong (shrimp paste). Most importantly, there are no rules for
                    creating dipping sauces and no one way to mix them. Most Filipinos would claim they can’t eat
                    without their favorite sawsawan (dipping sauce).</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span4">
                <img class="img-left img-responsive" src="assets/images/pork.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>Pork is king</b></h2>
                </div>
                <p>In the Philippines it’s rare to find purely-vegetable dishes, whether in households or local
                    restaurants. Even if you order chop suey or pinakbet, these mixed vegetable dishes will often have
                    pork in the mix. Filipinos are meat lovers through and through. Nowhere is this more apparent than
                    in Cebu’s famous lechon, roast suckling pig with crispy skin that people travel far and wide to
                    taste. You’ll also come across different variations of classic dishes with a piggy twist, such as
                    pork sinigang, pork sisig, and the country’s national dish – adobo.</p>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-left img-responsive" src="assets/images/filipino-food.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>Filipino food draws inspiration from multiple cultures</b></h2>
                </div>
                <p>Filipino cuisine is very complex, heavily influenced by the country’s former colonizers and its
                    neighboring Asian countries. Because of this, Filipino food has been shaped by the Chinese,
                    Spaniards, Indians, Japanese, and a whole plethora of Western influences. For instance, the
                    country’s pancit (noodles) and lumpia (spring rolls) were influenced by early Chinese settlers in
                    Manila, taking on a very Filipino life of their own. Additionally, the Filipino-favorite dessert
                    halo-halo was introduced by the Japanese! Apart from these strong cultural influences, the
                    preparation of Filipino dishes vary per region and there’s at least one known specialty per
                    locality.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span4">
                <img class="img-right img-responsive" src="assets/images/meryenda.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>Filipinos can’t call it a day without having merienda!</b></h2>
                </div>
                <p>Since rice is the country’s staple meal (which is very easy to digest), Filipinos often find
                    themselves hungry two-to-three hours after eating. People often have snacks (merienda) in the late
                    morning, and another in the afternoon. Popular Filipino snacks can be pretty much anything
                    (pastries, rice cakes called kakanin, fried bananas, pancit) as long as it does not constitute white
                    rice (which gives you a lot of options!). The merienda tradition dates back to the Spanish era, when
                    locals living in rural areas had breakfast as early as 4 a.m. to work in the fields and needed to
                    grab a bite in-between meals.</p>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-left img-responsive" src="assets/images/filipino-food2.jpg" style="width: 540px;" />
                <div class="content-heading">
                    <h2><b>You eat with your hands and never let the food wait</b></h2>
                </div>
                <p>While it’s uncommon to see people eating with their hands in the West, in the Philippines it’s
                    tradition. Kamayan, which is the act of eating food with your hands, is viewed by Filipinos as the
                    best way to enjoy a meal – your digits are dextrous enough to scoop and mix all the flavors, after
                    all. But if you don’t feel like using your hands, you can also eat food Filipino-style – no knives
                    and only a fork and spoon. Another customary tradition among Filipinos is to never let the food
                    wait. Here, meal time is a sacred ritual and so everyone (especially families) must eat together and
                    share everything that’s laid out on the table.</p>
            </div>
        </div>
    </div>

</div>